@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #eee4e1;
  --dark-blue: #00243b;
}

body {
  color: var(--white);
  background: var(--dark-blue)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}